@import url(../vendor/bootstrap/bootstrap-icons.css);

body {
    font-family: 'Poppins';
}

footer a.nav-link {
    color: #fff;
}

footer {
    color: #fff;
    padding: 10px 30px;
}

section.my-portfolio {
    min-height: 90vh;
}

.my-portofolio .card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.my-portofolio .card-title {
    height: 45px;
}

.my-portofolio .hargasize {
    height: 45px;
}

/* Tambahan css produk tulis setelah kode ini */